<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SE2 (1)</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="../static/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body style="background-color:#232323; color:white">
<img src="../static/img/SIMPLE_SCRAPE__1_-removebg-preview.png" width="524" height="362"><form style="width: 612.4px;height: 392px;margin: 128px;margin-top: auto; margin-left: auto; margin-right: auto">
    <div class="form-outline mb-4"><input id="form2Example1" class="form-control form-control form-control" type="email" /><label class="form-label form-label form-label" for="form2Example1">Email address</label></div>
    <div class="form-outline mb-4"><input id="form2Example2" class="form-control form-control form-control" type="password" /><label class="form-label form-label form-label" for="form2Example2"> New Password</label></div>
    <div class="form-outline mb-4"><input id="form2Example3" class="form-control form-control form-control" type="password" /><label class="form-label form-label form-label" for="form2Example2"> Confirm Password</label></div>
    <div class="row mb-4">
    
    </div>
        <div class="container">
        <a class="btn btn-primary ms-auto" role="button" href="Login.html" style="--bs-primary: #9900ff;--bs-primary-rgb: 153,0,255;background: rgb(0,123,255);font-weight: bold;font-size: 17px;">Confirm</a>
    </div>
    
</form>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
</body>

</html>