<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body style="background: rgb(255,0,0);">
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean" style="color: #9900ff;background: var(--bs-btn-hover-border-color);--bs-primary: #9900ff;--bs-primary-rgb: 153,0,255;--bs-light: #232323;--bs-light-rgb: 35,35,35;">
        <div class="container"><a class="navbar-brand" href="#" style="font-weight: bold;"><span style="color: rgba(255, 255, 255, 0.9);">Simple Scrape</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary ms-auto" role="button" href="Login.html" style="--bs-primary: #9900ff;--bs-primary-rgb: 153,0,255;background: rgb(0,123,255);font-weight: bold;font-size: 17px;">Login</a></div>
        </div>
    </nav>
    <header class="text-center text-white masthead" style="background:url('../static/img/hhh.jpg')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">Extract/Scrape web data with a single click<br></h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form>
                        <div class="row">
                            <div class="col"><a class="btn btn-primary btn-lg" role="button" href="Signup.html" style="background: rgb(0, 123, 255);font-weight: bold;">TRY IT FOR FREE</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons" style="background: var(--bs-gray-600);border-right-color: var(--bs-light);--bs-body-bg: var(--bs-indigo);--bs-light: #232323;--bs-light-rgb: 35,35,35;padding-left: 6px;margin-left: -8px;">
        <div class="container">
            <div class="row" style="padding-left: 0px;margin-left: 66px;">
                <div class="col-lg-4 col-xxl-3" style="margin-right: 0px;padding-right: 24px;margin-left: 10px;">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-wallet m-auto text-primary" data-bss-hover-animate="pulse" style="font-size: 97px;color: var(--bs-blue);"></i></div>
                        <h3 style="color: rgb(255,255,255);">For Free</h3>
                        <p class="lead mb-0"></p>
                    </div>
                    <p class="lead mb-0" style="--bs-body-color: #ffffff;--bs-light: #232323;--bs-light-rgb: 35,35,35;color: rgb(255,255,255);font-weight: bold;">No need to pay single 1$ for it.</p>
                </div>
                <div class="col-lg-4 col-xxl-3" style="margin-left: 52px;padding-left: 0px;padding-right: 0px;margin-right: 106px;">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-hourglass m-auto text-primary" data-bss-hover-animate="pulse" style="font-size: 73px;"></i></div>
                        <h3 style="color: rgb(255,255,255);">Time Efficient</h3>
                        <p class="lead mb-0"></p>
                    </div>
                    <p class="lead mb-0" style="font-weight: bold;color: rgb(255,255,255);">In a few seconds you will be able to scrape your disered data</p>
                </div>
                <div class="col-lg-4" style="padding-right: 0px;padding-left: 24px;margin-left: -8px;">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse" style="font-size: 73px;"></i></div>
                        <h3 style="color: rgb(255,255,255);">Easy to Use</h3>
                        <p class="lead mb-0"></p>
                    </div>
                    <p class="lead mb-0" style="color: rgb(255,255,255);font-weight: bold;">Free and easy to use web data extraction for everyone.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase"></section>
    <footer class="bg-light footer" style="--bs-body-bg: var(--bs-pink);--bs-body-color: #000000;--bs-light: #232323;--bs-light-rgb: 35,35,35;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start my-auto h-100">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© Brand 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-end my-auto h-100">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
</body>

</html>