<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>SE2 (1)</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="../static/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body style="padding-right: 374px;padding-bottom: 300px;padding-top: 300px;padding-left: 340px;">
    <div class="collapse navbar-collapse" id="navcol-2">
        <ul class="nav nav-tabs ms-auto">
            <li class="nav-item"><a class="nav-link active" href="#">First Item</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
        </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Button</a>
    </div>
    <nav class="navbar navbar-light navbar-expand-md py-3" style="margin-top: -304px;padding-left: 0px;padding-right: 158px;margin-left: -340px;margin-right: -374px;">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"></a><button class="navbar-toggler" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
    </nav><img src="../static/img/SIMPLE_SCRAPE__1_-removebg-preview.png" width="482" height="334"><form style="width: 612.4px;height: 392px;margin: 128px;margin-top: auto; margin-left: auto; margin-right: auto">
    <div class="form-outline mb-4"><input id="form2Example1" class="form-control form-control form-control" type="email" /><label class="form-label form-label form-label" for="form2Example1">Email address</label></div>
    <div class="form-outline mb-4"><input id="form2Example2" class="form-control form-control form-control" type="password" /><label class="form-label form-label form-label" for="form2Example2">Password</label></div>
    <div class="row mb-4">
        <div class="center-block">
            <div class="form-check"><input id="form2Example31" class="form-check-input" type="checkbox" value checked /><label class="form-label form-label form-check-label" for="form2Example31"> Remember me </label></div>
        </div>
        <div class="right-block"><a href="ForgotPassword.html">Forgot password?</a></div>
    </div>
    <div class="container">
        <a class="btn btn-primary ms-auto" role="button" href="Scrape.html" style="--bs-primary: #9900ff;--bs-primary-rgb: 153,0,255;background: rgb(0,123,255);font-weight: bold;font-size: 17px;">Sign In</a>
    </div>
    <div class="text-center">
        <p>Not a member? <a href="Signup.html">Register</a></p>
        <p></p><button class="btn btn-link btn-floating mx-1" type="button"></button>
    </div>
</form>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/bs-init.js"></script>
</body>

</html>