<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PersonalData</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="../static/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="../static/css/untitled.css">
</head>

<body>
    <div class="container"><nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class=""><svg
            class="bi bi-bezier" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
            viewBox="0 0 16 16">
        <img src="">


                </svg></span><span>Simple Scrape</span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-2" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Personal Data</a></li>
                <li class="nav-item"><a class="nav-link" href="scrape">Scrape</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Manage Account</a></li>
                <li class="nav-item"><a class="nav-link" href="home">Log-out</a></li>
            </ul>
        </div>
    </div>
</nav></div>
    <div class="container"><img src="../static/img/SIMPLE_SCRAPE__1_-removebg-preview.png" class ="deer"/>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>User-Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Scrape History</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cell 1</td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>